app-btn-primary-filled .btn.btn-primary,
app-link-primary-filled .btn.btn-primary,
app-appointment-card .btn.btn-primary {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15) !important;
}

app-btn-secondary-filled .btn.btn-secondary,
app-link-secondary-filled .btn.btn-secondary {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15) !important;
}

.btn-secondary {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15) !important;
}
