<div class="d-flex gap-2 align-items-center justify-content-between">
  <div>
    <h6 class="fw-bold mb-2">{{ specialization.name }}</h6>
    <p class="mb-2">{{ specialization.description }}</p>
    <p class="mb-0 fs-sm">
      Del {{ specialization.date | date : "dd/MM/yyyy" }}
    </p>
  </div>
  <app-btn-primary-filled
    [class]="'position-relative w-fixed-30 h-fixed-30'"
    [type]="'button'"
    [title]="'Elimina specializzazione'"
    (onClick)="delete(specialization.id)"
  >
    <ng-icon
      class="position-absolute top-50 start-50 translate-middle"
      name="ionTrashBinOutline"
    ></ng-icon>
  </app-btn-primary-filled>
</div>
