<div class="card p-2 rounded-1 shadow-sm default-bg border-0">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="mb-0 fw-bolder">Aggiungi prestazioni</h5>
    <app-btn-secondary-filled
      [type]="'button'"
      [color]="'btn-secondary'"
      [extraClass]="'position-relative w-fixed-30 h-fixed-30'"
      (onClick)="addService = !addService"
    >
      <ng-icon
        class="fs-4 position-absolute start-50 top-50 translate-middle"
        [name]="!addService ? 'ionAddOutline' : 'ionRemoveOutline'"
      ></ng-icon>
    </app-btn-secondary-filled>
  </div>
</div>
<div *ngIf="addService" class="card p-2 rounded-1 mt-3 default-bg border-0">
  <form [formGroup]="newService">
    <div class="mb-3">
      <div class="d-flex align-items-center justify-content-between mb-1">
        <label class="mb-0 form-label mb fs-sm" for="name"
          >Nome della prestazione</label
        >
        <span class="text-danger fw-bold fs-sm" *ngIf="isTouchedInvalid('name')"
          >Campo obbligatorio</span
        >
      </div>
      <input
        class="form-control form-control-sm border-secondary shadow-sm"
        [ngClass]="{ 'border-danger': isTouchedInvalid('name') }"
        id="name"
        name="name"
        formControlName="name"
        type="text"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label fs-sm mb-1"
        >Breve descrizione della prestazione</label
      >
      <input
        class="form-control form-control-sm border-secondary shadow-sm"
        id="description"
        name="description"
        formControlName="description"
        type="text"
        required
      />
    </div>
    <div class="mb-3 row">
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <label for="price" class="form-label mb-0 fs-sm mb-0"
            >Costo della prestazione</label
          >
          <span
            *ngIf="isTouchedInvalid('price')"
            class="text-danger fs-sm fw-bold"
            >Campo obbligatorio</span
          >
        </div>
        <input
          class="form-control form-control-sm border-secondary shadow-sm"
          [ngClass]="{ 'border-danger': isTouchedInvalid('price') }"
          id="price"
          name="price"
          formControlName="price"
          step="1"
          type="number"
          required
        />
      </div>
      <div class="col-6 d-flex align-items-center gap-2">
        <input
          type="checkbox"
          class="form-check-input"
          id="online"
          name="online"
          formControlName="online"
        />
        <label for="online">Disponibile online</label>
      </div>
    </div>
    <app-btn-primary-filled
      [type]="'submit'"
      (onClick)="createService()"
      [disabled]="!newService.valid"
      >Salva</app-btn-primary-filled
    >
  </form>
</div>
