<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="mb-3">
        <app-doctor-info [doctor]="doctor"></app-doctor-info>
      </div>
      <div class="d-flex justify-content-between gap-2 mb-3">
        <app-btn-primary-filled
          class="flex-grow-1"
          [type]="'button'"
          [extraClass]="'w-100'"
          (onClick)="highlight()"
          [title]="'Prenota appuntamento'"
          >Prenota</app-btn-primary-filled
        >
      </div>

      <app-doctor-address class="mb-3" [doctor]="doctor"></app-doctor-address>
      <app-doctor-service
        [doctor]="doctor"
        (onClick)="setService($event)"
      ></app-doctor-service>
      <app-doctor-cv-info
        *ngIf="doctor && hasAdditionalInfo()"
        [doctor]="doctor"
      ></app-doctor-cv-info>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row h-100">
        <div class="col-12 px-3 px-lg-5" #addBooking id="prenota">
          <div
            *ngIf="calendar && !calendar.isActive"
            class="position-sticky top-0 p-5"
          >
            <h3 class="text-center">
              Al momento non è possibile effettuare prenotazioni.
            </h3>
            <h3 class="text-center">
              Contattare il medico telefonicamente o via email.
            </h3>
          </div>
          <app-add-booking
            class="position-sticky top-0"
            *ngIf="calendar && calendar.isActive"
            [timing]="timing"
            [selectedService]="selectedService"
          >
            <div class="p-3 mb-3" id="calendar">
              <ng-content>
                <app-calendar
                  *ngIf="calendar"
                  [height]="350"
                  [slotMinTime]="calendar.slotMinTime"
                  [slotMaxTime]="calendar.slotMaxTime"
                  (timing)="getTiming($event)"
                ></app-calendar>
              </ng-content>
            </div>
          </app-add-booking>
        </div>
      </div>
    </div>
  </div>
</div>
