.onhover:hover {
  background-color: lighten(lightgrey, 15%);
}

.confirmed {
  background-color: $primary;
  color: $background !important;
}

.pending {
  background-color: $secondary;
}

.cancelled {
  color: $danger !important;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.object-position-center {
  object-position: center;
}

// option:checked {
//   background-color: $secondary !important;
// }
