<div class="mb-3">
  <h6 class="mb-0 fw-bold bg-secondary p-1 rounded-1">
    {{ title }} ({{ appointments ? this.getLenght() : 0 }})
  </h6>
  <ng-container *ngIf="!appointments || this.getLenght() < 1"
    ><p class="p-2 text-dark mb-0">Nessun appuntamento</p></ng-container
  >
  <ng-container *ngIf="appointments && this.getLenght() > 0">
    <app-appointment-card
      (onCancel)="update($event)"
      [isDoctor]="isDoctor"
      [appointment]="appointments[0]"
    ></app-appointment-card>

    <ng-container *ngIf="showMore">
      <app-appointment-card
        [isDoctor]="isDoctor"
        (onCancel)="update($event)"
        *ngFor="let a of appointments.slice(1)"
        [appointment]="a"
      ></app-appointment-card>
    </ng-container>
    <app-btn
      *ngIf="this.getLenght() > 1"
      [type]="'button'"
      [color]="'text-primary'"
      (onClick)="showMore = !showMore"
      >{{ showMore ? "Mostra meno" : "Mostra altri" }}</app-btn
    >
  </ng-container>
</div>
