<header>
  <nav class="navbar navbar-expand-lg">
    <a
      routerLink="/"
      class="col-lg-3 text-decoration-none d-flex align-items-center"
    >
      <img src="logo-textless.png" class="w-fixed-75" alt="logo" />
      <div class="d-flex flex-column justify-content-center">
        <span class="fw-bold fs-5">Maria Valentina Barone</span>
        <span class="fs-sm">Psichiatra e Psicoterapeuta</span>
      </div>
    </a>
    <app-btn
      *ngIf="isMobile"
      class="position-relative h-fixed-30 w-fixed-30 ms-auto order-5 me-3 rounded-1 border-secondary bg-secondary shadow-sm"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <ng-icon
        class="position-absolute top-50 start-50 translate-middle"
        name="ionMenuOutline"
      ></ng-icon>
    </app-btn>
    <div class="col-lg-3 order-last text-end">
      <app-link-secondary-filled
        class="d-inline-block w-auto text-dark"
        *ngIf="!isLoggedIn"
        [url]="'/auth'"
        [title]="'Accedi'"
        [color]="'btn-secondary'"
        >Accedi</app-link-secondary-filled
      >
      <app-dropdown
        id="dropdownConfig"
        class="text-end"
        *ngIf="isLoggedIn && user"
        [user]="user"
        [isLoggedIn]="isLoggedIn"
        [isDoctor]="isDoctor"
        (onClick)="logout($event)"
      ></app-dropdown>
    </div>
    <div
      class="col-6 collapse navbar-collapse justify-content-lg-center position-absolute start-0 end-0 top-100 default-bg w-100 z-3"
      [ngbCollapse]="isMenuCollapsed"
    >
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center gap-3">
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLinkActive="fw-bolder"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            (click)="closeMenu()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink="/chi-sono"
            (click)="closeMenu()"
            >Chi sono</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/contatti">Contatti</a>
        </li> -->

        <li class="nav-item">
          <app-link-primary-filled
            class="d-inline-block w-auto"
            [url]="'/prenota'"
            [title]="'Prenota appuntamento'"
            (click)="closeMenu()"
            >Prenota visita</app-link-primary-filled
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
