<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <img src="logo-texted.png" class="w-100" />
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center mx-auto"
    >
      <form [formGroup]="resetRequest">
        <div class="mb-3">
          <h3 class="text-center">
            Inserisci l'indirizzo email con cui sei registrato
          </h3>
          <p class="text-center">
            Riceverai un'email con le istruzioni per resettare la password
          </p>
        </div>
        <div class="mb-3 d-flex align-items-end gap-3">
          <div class="flex-grow-1">
            <div class="d-flex justify-content-end align-items-center">
              <span class="text-danger" *ngIf="isTouchedInvalid('email')">{{
                getMessage("email")
              }}</span>
            </div>

            <input
              type="text"
              class="form-control form-control-sm"
              id="email"
              formControlName="email"
            />
          </div>
          <app-btn-primary-filled
            [type]="'submit'"
            (onClick)="sendResetRequest()"
            [disabled]="this.resetRequest.invalid"
            >Conferma</app-btn-primary-filled
          >
        </div>
      </form>
    </div>
  </div>
</div>
