<p>patient-card works!</p>
<!-- <div
  class="onhover card default-bg border-0 p-1 mb-3 flex-row align-items-center justify-content-between"
>
  <div class="d-flex align-items-center gap-1 flex-grow-1 w-30">
    <img
      class="rounded-circle w-fixed-50 shadow-sm me-0 me-md-3"
      [src]="
        patient.avatar
          ? patient.avatar
          : 'https://ui-avatars.com/api/?name=' +
            patient.name +
            '+' +
            patient.surname
      "
      alt="profile image"
    />
    <h5 class="mb-0">{{ patient.name }} {{ patient.surname }}</h5>
  </div>

  <div
    class="flex-grow-1 d-flex align-items-center gap-2 w-100 justify-content-between"
  >
    <p class="mb-0 w-20 flex-grow-1 text-center">{{ patient.email }}</p>
    <p class="mb-0 w-20 flex-grow-1 text-center">{{ patient.phoneNumber }}</p>
    <p class="mb-0 w-20 flex-grow-1 text-center">
      {{ patient.lastVisit ? patient.lastVisit : "N/A" }}
    </p>
    <app-btn [type]="'button'" [color]="'btn-primary'">Prenota</app-btn>
  </div>
</div> -->
<tr class="table-primary w-100">
  <td class="table-primary">
    <img
      class="rounded-circle w-fixed-50 shadow-sm me-0 me-md-3"
      [src]="
        patient.avatar
          ? patient.avatar
          : 'https://ui-avatars.com/api/?name=' +
            patient.name +
            '+' +
            patient.surname
      "
      alt="profile image"
    />
    <h5 class="mb-0">{{ patient.name }} {{ patient.surname }}</h5>
  </td>
  <td class="table-primary">
    <p class="mb-0 w-20 flex-grow-1 text-center">{{ patient.email }}</p>
  </td>
  <td class="table-primary">
    <p class="mb-0 w-20 flex-grow-1 text-center">{{ patient.phoneNumber }}</p>
  </td>
  <td class="table-primary">
    <p class="mb-0 w-20 flex-grow-1 text-center">
      {{ patient.lastVisit ? patient.lastVisit : "N/A" }}
    </p>
  </td>
  <td class="table-primary">
    <app-btn [type]="'button'" [color]="'btn-primary'">Prenota</app-btn>
  </td>
</tr>
