<div class="row">
  <h3 class="mb-3 display-4">Impostazioni degli indirizzi</h3>
  <div class="col-12 col-lg-6 mb-3 mb-lg-0">
    <div class="card p-2 rounded-1 border-0 shadow-sm default-bg">
      <ng-container *ngIf="addresses">
        <h5 class="fw-bolder">Indirizzi attivi</h5>
        <ng-container *ngIf="!addresses">Nessun indirizzo trovato</ng-container>
        <div
          *ngFor="let a of addresses"
          class="onhover d-flex justify-content-between gap-3 mb-3 p-2 rounded-1 text-decoration-none"
        >
          <div class="d-flex align-items-center gap-2">
            <div
              class="p-2 border border-1 rounded-1 border-tertiary shadow-sm position-relative w-fixed-40 h-fixed-40"
            >
              <ng-icon
                class="fs-4 position-absolute start-50 top-50 translate-middle"
                name="ionLocationOutline"
              ></ng-icon>
            </div>
            <div>
              <h6 class="mb-0 fw-bold text-dark">{{ a.name }}</h6>
              <span class="text-dark">
                {{ a.address.street }}, {{ a.address.streetNumber }} -
                {{ a.address.city }} {{ a.address.provinceAcronym }} -
                {{ a.address.postalCode }}
              </span>
            </div>
          </div>
          <app-btn
            class="ms-3 align-self-center"
            [type]="'button'"
            [color]="'btn-primary'"
            [extraClass]="'btn-sm position-relative w-fixed-30 h-fixed-30'"
            [title]="'Elimina indirizzo'"
            (onClick)="deleteAddress(a.address.id)"
            ><ng-icon
              class="fs-6 position-absolute start-50 top-50 translate-middle"
              name="ionTrashBinOutline"
            ></ng-icon
          ></app-btn>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3 mb-lg-0">
    <app-add-address
      [doctor]="doctor"
      (updatedDoctor)="updateAddress($event)"
    ></app-add-address>
  </div>
</div>
