<div class="container-fluid">
  <div class="row">
    <h3 class="mb-3 display-4">Impostazioni</h3>
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column p-2">
        <h5 class="fw-bolder mb-3">Impostazioni generali</h5>
        <a
          class="onhover d-flex align-items-center gap-3 mb-3 p-2 rounded-1 text-decoration-none"
          routerLink="/dashboard/impostazioni/calendario"
        >
          <div
            class="p-2 border border-1 rounded-1 border-tertiary shadow-sm position-relative w-fixed-40 h-fixed-40"
          >
            <ng-icon
              class="fs-4 position-absolute start-50 top-50 translate-middle"
              name="ionCalendarOutline"
            ></ng-icon>
          </div>
          <div>
            <h6 class="mb-0 fw-bold text-dark">Agenda</h6>
            <span class="text-dark fs-sm"
              >Gestisci le impostazioni dell'agenda</span
            >
          </div>
        </a>
        <a
          class="onhover d-flex align-items-center gap-3 mb-3 p-2 rounded-1 text-decoration-none"
          routerLink="/dashboard/impostazioni/servizi"
        >
          <div
            class="p-2 border border-1 rounded-1 border-tertiary shadow-sm position-relative w-fixed-40 h-fixed-40"
          >
            <ng-icon
              class="fs-4 position-absolute start-50 top-50 translate-middle"
              name="ionGitNetworkOutline"
            ></ng-icon>
          </div>
          <div>
            <h6 class="mb-0 fw-bold text-dark">Prestazioni</h6>
            <span class="text-dark fs-sm">Gestisci le prestazioni offerte</span>
          </div>
        </a>
        <a
          class="onhover d-flex align-items-center gap-3 mb-3 p-2 rounded-1 text-decoration-none"
          routerLink="/dashboard/impostazioni/indirizzi"
        >
          <div
            class="p-2 border border-1 rounded-1 border-tertiary shadow-sm position-relative w-fixed-40 h-fixed-40"
          >
            <ng-icon
              class="fs-4 position-absolute start-50 top-50 translate-middle"
              name="ionLocationOutline"
            ></ng-icon>
          </div>
          <div>
            <h6 class="mb-0 fw-bold text-dark">Indirizzi</h6>
            <span class="text-dark fs-sm"
              >Aggiungi e modifica i tuoi indirizzi</span
            >
          </div>
        </a>
        <a
          class="onhover d-flex align-items-center gap-3 p-2 rounded-1 text-decoration-none"
          routerLink="/dashboard/impostazioni/dettagli"
        >
          <div
            class="p-2 border border-1 rounded-1 border-tertiary shadow-sm position-relative w-fixed-40 h-fixed-40"
          >
            <ng-icon
              class="fs-4 position-absolute start-50 top-50 translate-middle"
              name="ionAccessibilityOutline"
            ></ng-icon>
          </div>
          <div>
            <h6 class="mb-0 fw-bold text-dark">Informazioni personali</h6>
            <span class="text-dark fs-sm"
              >Modifica le tue informazioni personali e curriculari</span
            >
          </div>
        </a>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
