<ul class="nav nav-pills nav-flush flex-column text-center">
  <li class="nav-item">
    <a
      routerLink="/paziente/scheda-personale"
      routerLinkActive="bg-secondary-light"
      class="nav-link rounded-0 py-3"
      title="Scheda personale"
    >
      <ng-icon name="ionFolderOpenOutline" class="fs-3"></ng-icon>
    </a>
  </li>
  <li class="nav-item">
    <a
      routerLink="/paziente/profilo"
      routerLinkActive="bg-secondary-light"
      class="nav-link rounded-0 py-3"
      title="Gestione pazienti"
    >
      <ng-icon name="ionSettingsOutline" class="fs-3"></ng-icon>
    </a>
  </li>
</ul>
