<div class="row h-100 flex-grow-1 py-3">
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <h1 class="display-6 fw-bold mb-0">Cookie Policy di Health Desk</h1>
        <span>Ultimo aggiornamento: 09/02/2024</span>
      </div>

      <p>
        La presente Cookie Policy spiega cosa sono i cookie e come vengono
        utilizzati da **Health Desk** ("noi", "nostro" o "il Sito"). Utilizzando
        il nostro sito web, l'utente accetta l'uso dei cookie in conformità con
        questa politica.
      </p>

      <h4 class="fw-bold fs-3">Cosa sono i cookie?</h4>
      <p>
        I cookie sono piccoli file di testo che i siti web inviano al
        dispositivo dell'utente per essere memorizzati e successivamente
        ritrasmessi al sito alla visita successiva. I cookie permettono di
        migliorare l'esperienza dell'utente, analizzare il traffico e
        personalizzare i contenuti mostrati.
      </p>

      <h4 class="fw-bold fs-3">Tipologie di cookie utilizzati</h4>

      <ol>
        <li>
          <h6 class="fw-bold">Cookie tecnici e di navigazione</h6>
          <p>
            Questi cookie sono essenziali per il corretto funzionamento del sito
            e permettono di navigare e utilizzarne le funzionalità. Senza di
            essi, alcuni servizi potrebbero non essere accessibili.
          </p>
        </li>
        <li>
          <h6 class="fw-bold">Cookie di analisi e prestazioni</h6>
          <p>
            Questi cookie ci permettono di raccogliere informazioni statistiche
            sull'uso del sito (ad esempio, numero di visitatori, pagine più
            visitate) per migliorarne le prestazioni e l’usabilità.
          </p>
        </li>
        <li>
          <h6 class="fw-bold">Cookie di profilazione e marketing</h6>
          <p>
            Questi cookie vengono utilizzati per fornire contenuti pubblicitari
            personalizzati in base agli interessi dell'utente. Possono essere
            installati da noi o da terze parti.
          </p>
        </li>
        <li>
          <h6 class="fw-bold">Cookie di terze parti</h6>
          <p>
            Il nostro sito può contenere cookie di terze parti, come quelli
            utilizzati per l'integrazione con social media o per servizi di
            analisi (ad es. Google Analytics). Si consiglia di consultare le
            rispettive informative per maggiori dettagli.
          </p>
        </li>
      </ol>

      <h4 class="fw-bold fs-3">Gestione delle preferenze sui cookie</h4>
      <p>
        L'utente può gestire le preferenze relative ai cookie direttamente dal
        proprio browser e impedire l'installazione di cookie da parte di terzi.
        Tuttavia, la disabilitazione dei cookie potrebbe limitare alcune
        funzionalità del sito.
      </p>
      <h5 class="fw-bold">
        Come disabilitare i cookie nei principali browser:
      </h5>
      <ul>
        <li>
          <h6 class="fw-bold">
            Google Chrome:
            <a
              href="https://support.google.com/chrome/answer/95647?hl=it"
              target="_blank"
              >[Link guida]</a
            >
          </h6>
        </li>
        <li>
          <h6 class="fw-bold">
            Mozilla Firefox:
            <a
              href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie"
              target="_blank"
              >[Link guida]</a
            >
          </h6>
        </li>
        <li>
          <h6 class="fw-bold">
            Safari:
            <a href="https://support.apple.com/it-it/HT201265" target="_blank"
              >[Link guida]</a
            >
          </h6>
        </li>
        <li>
          <h6 class="fw-bold">
            Microsoft Edge:
            <a
              href="https://support.microsoft.com/it-it/help/4027947/microsoft-edge-delete-cookies"
              target="_blank"
              >[Link guida]</a
            >
          </h6>
        </li>
      </ul>

      <h4 class="fw-bold fs-3">Modifiche alla Cookie Policy</h4>
      <p>
        Ci riserviamo il diritto di modificare questa Cookie Policy in qualsiasi
        momento. Eventuali aggiornamenti saranno pubblicati su questa pagina con
        la data dell'ultimo aggiornamento. Per maggiori informazioni sulla
        nostra politica sulla privacy e sull'uso dei dati personali, consulta la
        nostra
      </p>
      <h4 class="fw-bold fs-3">Contatti</h4>
      <div>
        <p>
          Per qualsiasi domanda riguardante questa Cookie Policy, puoi
          contattarci a:
        </p>
        <ul>
          <li>
            <p>Email: info&#64;health-desk.com</p>
          </li>
          <li>
            <p>Indirizzo: Via Tal Dei Tali, 5 - Milano MI</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
