<div
  [ngClass]="{
    'default-bg': isDoctor,
    'p-3': isDoctor,
    'overflow-y-scroll': isDoctor,
    'overflow-y-auto': isDoctor
  }"
  #longContent
  class="row"
>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 *ngIf="!isDoctor" class="mb-0 display-4">Scheda personale</h3>
    <app-link-primary-filled [url]="'/prenota'"
      >Prenota appuntamento</app-link-primary-filled
    >
  </div>
  <div
    class="d-flex align-items-center justify-content-between mb-3"
    *ngIf="isDoctor && patient"
  >
    <h5 class="mb-0 display-6 fw-bold">Cartella paziente</h5>
    <p class="mb-0 text-dark bg-secondary px-2 py-1 rounded-1 fw-bold">
      {{ patient.name }} {{ patient.surname }}
    </p>
  </div>
  <div class="col-12" *ngIf="medicalFolder">
    <div class="card p-2 rounded-1 border-0 shadow-sm default-bg">
      <div class="row">
        <div class="col-6 overflow-y-scroll overflow-y-auto max-h-65">
          <app-patient-appointment
            [isDoctor]="isDoctor"
            [appointments]="nextApps"
            [title]="'Prossimi appuntamenti'"
          ></app-patient-appointment>
          <app-patient-appointment
            [appointments]="done"
            [title]="'Visite effettuate'"
          ></app-patient-appointment>
          <app-patient-appointment
            [appointments]="cancelled"
            (onUpdate)="generateLists()"
            [title]="'Appuntamenti annullati'"
            *ngIf="cancelled"
          ></app-patient-appointment>
        </div>
        <div class="col-6 overflow-y-scroll overflow-y-auto max-h-65">
          <app-reminder
            *ngIf="isDoctor"
            (onUpdate)="updateMF($event)"
            [medicalFolder]="medicalFolder"
          ></app-reminder>
          <app-patient-prescription
            [documentations]="medicalFolder.prescriptions"
            [mfID]="medicalFolder.id"
            [isDoctor]="isDoctor"
            [title]="'Prescrizioni'"
            (onUpload)="updateMF($event)"
            (onDelete)="updateMF($event)"
          ></app-patient-prescription>
          <app-patient-prescription
            (onUpload)="updateMF($event)"
            (onDelete)="updateMF($event)"
            [documentations]="medicalFolder.documentation"
            [mfID]="medicalFolder.id"
            [isDoctor]="isDoctor"
            [title]="'Documentazione per il medico'"
          ></app-patient-prescription>
        </div>
      </div>
    </div>
  </div>
</div>
