<div class="row">
  <div class="d-flex align-items-center justify-content-between">
    <h3 class="mb-3 display-4">Storico appuntamenti</h3>
    <!-- aggiungere filtri per appuntamenti -->
    <!-- <div
      class="d-flex align-items-center flex-grow-1 justify-content-end gap-2"
    >
      <ng-container *ngIf="patients && patients.length > 9">
        <input
          type="number"
          min="1"
          [max]="totalElements"
          [(ngModel)]="size"
          class="form-control form-control-sm w-auto"
          (change)="changePageAndSize()"
        />
        <select
          class="form-select form-select-sm w-auto"
          name="currentPage"
          id="currentPage"
          (change)="changePageAndSize()"
          [(ngModel)]="currentPage"
        >
          <option [value]="p" *ngFor="let p of pages">{{ p + 1 }}</option>
        </select>
      </ng-container>
      <div class="position-relative" *ngIf="patients.length > 0">
        <input
          type="text"
          id="search"
          name="search"
          [(ngModel)]="search"
          class="form-control form-control-sm w-auto"
          placeholder="Cerca paziente..."
          (keypress)="onKeyPress($event)"
          (input)="onInputChange($event)"
          (keyup)="searchPatients()"
        />
        <ng-icon
          (click)="searchPatients()"
          class="position-absolute top-50 end-0 translate-middle-y me-2 opacity-50"
          name="ionSearchOutline"
          role="button"
        ></ng-icon>
      </div>
    </div> -->
  </div>
  <!-- aggiungere lista appuntamenti -->
  <!-- <ng-container *ngIf="patients">
    <table class="table table-borderless">
      <thead>
        <tr class="bg-secondary rounded-1 shadow-sm">
          <th scope="col align-middle"><p class="mb-0 fs-sm">Paziente</p></th>
          <th scope="col align-middle" *ngIf="!isMobile">
            <p class="mb-0 text-center fs-sm">Email</p>
          </th>
          <th scope="col align-middle">
            <p class="text-center mb-0 fs-sm">Telefono</p>
          </th>
          <th scope="col align-middle" *ngIf="!isMobile">
            <p class="text-center mb-0 fs-sm">Ultima visita</p>
          </th>
          <th scope="col align-middle"></th>
        </tr>
      </thead>
      <div class="py-3" *ngIf="!patients || patients.length < 1">
        Non hai ancora nessun paziente in carico
      </div>
      <tbody *ngIf="patients.length > 0">
        <tr *ngFor="let p of patients">
          <td>
            <div class="d-flex align-items-center gap-2">
              <img
                *ngIf="!isMobile"
                class="rounded-circle w-fixed-50 shadow-sm me-0 me-md-3 w-fixed-50 h-fixed-50 object-fit-cover"
                [src]="
                  p.avatar
                    ? p.avatar
                    : 'https://ui-avatars.com/api/?name=' +
                      p.name +
                      '+' +
                      p.surname
                "
                alt="profile image"
              />
              <h5
                class="mb-0 fs-6 fw-bold"
                role="button"
                (click)="openPatientFolder(p.id, true)"
              >
                {{ p.name }} {{ p.surname }}
              </h5>
            </div>
          </td>
          <td class="align-middle" *ngIf="!isMobile">
            <p class="mb-0 text-center fs-sm">{{ p.email }}</p>
          </td>
          <td class="align-middle">
            <p class="mb-0 text-center fs-sm">
              {{ p.phoneNumber }}
            </p>
          </td>
          <td class="align-middle" *ngIf="!isMobile">
            <p class="mb-0 text-center fs-sm" *ngIf="p.lastVisit">
              {{ p.lastVisit | date : "dd/MM/yyyy" }}
            </p>
            <p class="mb-0 text-center" *ngIf="!p.lastVisit">------</p>
          </td>
          <td class="align-middle text-end">
            <app-btn-primary
              [type]="'button'"
              [title]="'Prenota appuntamento'"
              (onClick)="addAppointment(p)"
              >Prenota</app-btn-primary
            >
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container> -->
</div>
