<div class="d-flex flex-column p-2" *ngIf="experiences">
  <div
    class="d-flex align-items-center justify-content-between bg-secondary px-2 py-1 rounded-1 shadow-sm mb-2"
  >
    <h5 class="fw-bolder mb-0">Esperienze professionali</h5>
    <app-btn-secondary-filled
      [type]="'button'"
      [color]="'btn-secondary'"
      [extraClass]="'position-relative w-fixed-30 h-fixed-30'"
      (onClick)="addExperience = !addExperience"
    >
      <ng-icon
        [name]="!addExperience ? 'ionAddOutline' : 'ionRemoveOutline'"
        class="fs-4 position-absolute start-50 top-50 translate-middle"
      ></ng-icon>
    </app-btn-secondary-filled>
  </div>
  <ng-container *ngIf="experiences.length < 1"
    >Nessuna esperienza inserita</ng-container
  >
  <ng-container *ngIf="experiences.length > 0">
    <div
      *ngFor="let e of experiences"
      class="onhover rounded-1 p-2 position-relative"
    >
      <h6 class="text-dark fw-bold mb-1">{{ e.name }}</h6>
      <p>{{ e.description }}</p>
      <p class="mb-0 fs-sm">
        Dal {{ e.startDate | date : "dd/MM/yyyy" }}
        <ng-container *ngIf="e.endDate">
          al {{ e.endDate | date : "dd/MM/yyyy" }}</ng-container
        >
        <ng-container *ngIf="!e.endDate"> - in corso</ng-container>
      </p>
      <app-btn
        class="position-absolute end-0 bottom-0 me-2 mb-2"
        [type]="'button'"
        [color]="'btn-primary'"
        [extraClass]="'btn-sm position-relative w-fixed-30 h-fixed-30'"
        [title]="'Elimina esperienza'"
        (onClick)="delete(e.id)"
        ><ng-icon
          class="fs-6 position-absolute start-50 top-50 translate-middle"
          name="ionTrashBinOutline"
        ></ng-icon
      ></app-btn>
    </div>
  </ng-container>
  <div
    *ngIf="addExperience"
    class="bg-white card p-2 rounded-1 mt-3 default-bg border-0 position-absolute z-3 shadow-lg w-50 start-50 top-50 translate-middle"
  >
    <form #form="ngForm">
      <div class="d-flex align-items-start justify-content-between">
        <h4>Aggiungi una nuova esperienza</h4>
        <ng-icon
          name="ionCloseOutline"
          role="button"
          (click)="addExperience = !addExperience"
        ></ng-icon>
      </div>
      <div class="d-flex align-items-center gap-2">
        <div class="mb-3 w-75">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <label class="form-label fs-sm mb-0" for="name"
              >Nuova esperienza professionale</label
            >
            <span
              class="text-danger fs-sm fw-bold"
              *ngIf="name.invalid && name.touched"
              >Richiesto</span
            >
          </div>
          <input
            #name="ngModel"
            class="form-control form-control-sm border-secondary shadow-sm"
            [ngClass]="{ 'border-danger': name.invalid && name.touched }"
            id="name"
            name="name"
            [(ngModel)]="newExperience.name"
            type="text"
            required
          />
        </div>
        <div class="mb-3 w-25">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <label class="form-label fs-sm mb-0" for="startDate"
              >Data inizio</label
            >
            <span
              class="text-danger fs-sm fw-bold"
              *ngIf="startDate.invalid && startDate.touched"
              >Richiesto</span
            >
          </div>
          <input
            #startDate="ngModel"
            type="date"
            class="form-control form-control-sm border-secondary shadow-sm"
            [ngClass]="{
              'border-danger': startDate.invalid && startDate.touched
            }"
            id="startDate"
            name="startDate"
            [(ngModel)]="newExperience.startDate"
            required
          />
        </div>
        <div class="mb-3 w-25">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <label class="form-label mb-0" for="description">Data fine</label>
          </div>
          <input
            #endDate="ngModel"
            type="date"
            class="form-control form-control-sm"
            id="endDate"
            name="endDate"
            [(ngModel)]="newExperience.endDate"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <label class="form-label fs-sm mb-0" for="description"
            >Breve descrizione</label
          >
          <span
            class="text-danger fs-sm fw-bold"
            *ngIf="description.invalid && description.touched"
            >Richiesto</span
          >
        </div>
        <textarea
          #description="ngModel"
          class="form-control form-control-sm border-secondary shadow-sm"
          [ngClass]="{
            'border-danger': description.invalid && description.touched
          }"
          id="description"
          name="description"
          [(ngModel)]="newExperience.description"
          type="text"
          required
        ></textarea>
      </div>
      <app-btn-primary-filled
        [type]="'submit'"
        (onClick)="createExperience()"
        [disabled]="!form.valid"
        >Salva</app-btn-primary-filled
      >
    </form>
  </div>
</div>
