<section class="bg-secondary-light">
  <div class="container">
    <div class="row py-5">
      <div class="col-3 d-flex align-items-center justify-content-center">
        <img
          src="images/doctor.jpeg"
          alt="doctor image"
          class="w-100 rounded-2"
        />
      </div>
      <div class="col-9 d-flex flex-column justify-content-center">
        <h6 class="display-6">Il mio impegno</h6>
        <p>
          Sono uno psichiatra e psicoterapeuta, e considero la mia professione
          una vera e propria missione. Accompagnare le persone nel loro percorso
          di cura e benessere psicologico non è solo il mio lavoro, ma un
          impegno quotidiano fatto di ascolto, comprensione e supporto.
        </p>
        <p>
          Nel corso della mia carriera ho avuto l'opportunità di approfondire
          diversi aspetti della psichiatria, specializzandomi nel trattamento di
          disturbi come il disturbo post-traumatico da stress, la depressione, i
          disturbi psicosomatici e il disturbo d'ansia generalizzato. Ogni
          paziente è unico, e per questo il mio approccio si basa su un ascolto
          attento e su percorsi terapeutici personalizzati, costruiti sulle
          esigenze e le esperienze di chi si affida a me.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h6 class="display-6">Formazione</h6>
        <p>
          La mia formazione è iniziata presso l’Università degli Studi di
          Palermo, e nel tempo ho avuto l’opportunità di arricchirla con
          esperienze di tirocinio presso la Sezione di Psichiatria del
          Dipartimento di Biomedicina Sperimentale e Neuroscienze Cliniche. La
          ricerca e l'aggiornamento continuo sono per me fondamentali, e nel
          corso degli anni ho partecipato a numerose pubblicazioni scientifiche,
          approfondendo tematiche legate allo stigma nei pazienti psichiatrici,
          alla qualità della vita di persone con problematiche psicopatologiche
          e all’impatto dei meccanismi di coping.
        </p>

        <h6 class="display-6">Valori</h6>
        <p>
          Credo fermamente che la salute mentale sia un diritto di tutti e che
          il percorso terapeutico debba essere un viaggio condiviso tra medico e
          paziente, basato sulla fiducia e sulla consapevolezza. Per questo, il
          mio impegno è volto non solo alla cura, ma anche a fornire strumenti
          concreti per affrontare le difficoltà e migliorare la qualità della
          vita.
        </p>

        <p>
          Ricevo in lingua italiana e sono sempre disponibile a valutare insieme
          il percorso più adatto alle esigenze di ogni persona. Se senti il
          bisogno di un supporto o vuoi approfondire il mio approccio
          terapeutico, sarò lieta di accoglierti e accompagnarti in questo
          cammino.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary-light py-5">
  <div class="container">
    <div class="row py-3">
      <h6 class="display-6">Contatti e indirizzi</h6>
      <div class="col-12 col-lg-6">
        <app-contact-form *ngIf="doctor" [doctor]="doctor">
          <h3>Invia una richiesta compilando il form:</h3>
        </app-contact-form>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
        <app-doctor-address
          *ngIf="doctor"
          [addresses]="doctor.addresses"
        ></app-doctor-address>
      </div>
    </div>
  </div>
</section>
