<div class="p-3">
  <h6 class="fw-medium text-center bg-secondary p-1 rounded-2">
    Carica un nuovo referto medico
  </h6>
  <form #form="ngForm" class="position-relative">
    <div
      role="button"
      cdkDropList
      class="upload-area min-h-200 rounded-3 shadow-lg default-bg d-flex flex-column align-items-center justify-content-center text-center position-relative"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      [class.dragging]="isDragging"
    >
      <p *ngIf="!files.length" class="fs-sm text-dark">
        Trascina qui il tuo file PDF o clicca per selezionarlo
      </p>
      <ul *ngIf="files.length">
        <li *ngFor="let file of files">{{ file.name }}</li>
      </ul>
      <input
        type="file"
        accept=".pdf"
        (change)="onFileSelected($event)"
        #fileInput
        hidden
      />

      <app-btn-secondary-filled [type]="'button'" (onClick)="fileInput.click()"
        >Seleziona un file</app-btn-secondary-filled
      >
      <div
        class="d-flex align-items-end gap-2 position-absolute start-0 end-0 bottom-0 ms-2 me-2 mb-2"
      >
        <div class="flex-grow-1 text-start">
          <span class="text-danger fs-sm" *ngIf="showError"
            >Campo obbligatorio</span
          >
          <input
            type="text"
            placeholder="Breve descrizione"
            class="form-control form-control-sm"
            required
            name="description"
            id="description"
            [(ngModel)]="description"
          />
        </div>
        <app-btn-dark-filled [type]="'button'" (onClick)="upload()"
          >Carica</app-btn-dark-filled
        >
      </div>
    </div>
  </form>
</div>
