<div class="card border-0 default-bg p-2" *ngIf="doctor">
  <h5 *ngIf="!isHomePage" class="fw-bolder">
    Indirizzi ({{ doctor.addresses.length }})
  </h5>
  <ul class="p-0">
    <li
      class="nav-item d-flex align-items-center justify-content-between gap-1"
      *ngFor="let a of doctor.addresses"
    >
      <div>
        <p class="fw-bold fs-5 d-flex align-items-center gap-2 mb-1">
          <ng-icon class="text-primary" name="ionLocationOutline"></ng-icon>
          {{ a.name }}
        </p>
        <span class="fs-sm">
          {{ a.address.street }}, {{ a.address.streetNumber }} -
          {{ a.address.city }} {{ a.address.provinceAcronym }}
          {{ a.address.postalCode }}</span
        >
      </div>

      <app-map
        *ngIf="showMap"
        height="100"
        [address]="getAddress(a)"
        (click)="getAddress(a)"
      ></app-map>
    </li>
  </ul>
</div>
