<div class="px-5 py-3 px-sm-3 rounded-2 shadow-lg bg-secondary-light">
  <ng-content select="[slot=title]"></ng-content>
  <form [formGroup]="newPasswordRequest">
    <h3 class="text-center mb-3">Imposta la nuova password per accedere</h3>
    <div class="mb-3 d-flex align-items-end gap-3">
      <div class="flex-grow-1">
        <div class="position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control form-control-sm border-secondary shadow-sm"
            id="password"
            formControlName="password"
            [ngClass]="{ 'border-danger': isTouchedInvalid('password') }"
          />
          <ng-icon
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2 opacity-50"
            [name]="showPassword ? 'ionEyeOffOutline' : 'ionEyeOutline'"
            (click)="showPassword = !showPassword"
          ></ng-icon>
        </div>
      </div>
      <app-btn-primary-filled [type]="'submit'" (onClick)="reset()"
        >Conferma</app-btn-primary-filled
      >
    </div>
  </form>
</div>
