<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <img src="logo-texted.png" class="w-100" />
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center mx-auto"
    >
      <form [formGroup]="newPasswordRequest">
        <h3 class="text-center mb-3">Imposta la nuova password per accedere</h3>
        <div class="mb-3 d-flex align-items-end gap-3">
          <div class="flex-grow-1">
            <div class="d-flex justify-content-end align-items-center">
              <span class="text-danger" *ngIf="isTouchedInvalid('password')"
                >Campo richiesto</span
              >
            </div>
            <div class="position-relative">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form-control-sm"
                id="password"
                formControlName="password"
              />
              <ng-icon
                role="button"
                class="position-absolute top-50 end-0 translate-middle-y me-2 opacity-50"
                [name]="showPassword ? 'ionEyeOffOutline' : 'ionEyeOutline'"
                (click)="showPassword = !showPassword"
              ></ng-icon>
            </div>
          </div>
          <app-btn-primary-filled [type]="'submit'" (onClick)="reset()"
            >Conferma</app-btn-primary-filled
          >
        </div>
      </form>
    </div>
  </div>
</div>
