.dropdown-item:hover,
.dropdown-item:focus {
  background: none !important;
  font-weight: bold !important;
  color: $text;
}

.nav-tabs {
  border: none !important;
  .nav-link {
    border: none !important;
  }
  .nav-link.active {
    background-color: $secondary !important;
    border-bottom: 0 !important;
    border: none !important;
    border-radius: 0.25rem !important;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15) !important;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:focus-visible {
    border: none !important;
  }
}
