.upload-area {
  width: 100%;
  height: 200px;
  border: 2px dashed $secondary;
  transition: 0.3s;
}

.upload-area.dragging {
  border-color: $secondary;
}

.upload-area ul {
  padding: 0;
  list-style: none;
}

.upload-area li {
  font-size: 14px;
  margin-top: 5px;
}
