<section class="parallax">
  <div class="container">
    <div class="row py-5">
      <div class="col col-12 col-md-6">
        <img
          src="images/mental-health.png"
          alt="cura e benessere mentale"
          class="d-block mx-auto"
        />
      </div>
      <div class="col col-12 col-md-6 py-5">
        <div class="mb-5">
          <h3 class="display-5 fw-medium text-dark text-end mb-3">
            Uno spazio dedicato al benessere mentale.
          </h3>
          <p class="text-dark mb-0 text-end fs-4">
            Un percorso di ascolto, comprensione e crescita per ritrovare
            equilibrio e serenità.
          </p>
        </div>
        <div class="d-flex justify-content-end gap-2">
          <app-link-primary-filled [class]="'py-2'" [url]="'/prenota'"
            >Prenota appuntamento</app-link-primary-filled
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mb-5">
    <div class="row py-5">
      <h5 class="mb-3 display-4 text-center">Su di me</h5>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        corporis consequatur qui amet porro numquam velit voluptas voluptatibus
        aperiam, quae modi possimus autem inventore reprehenderit perferendis
        ullam sequi nemo maxime.
      </p>
    </div>
    <div class="row">
      <div class="col col-12 col-lg-4">
        <div class="card h-100 default-bg rounded-1 border-0">
          <img
            src="images/empaty.png"
            class="img-fluid w-fixed-50 mx-auto d-block mb-3"
            alt="emphaty"
          />
          <h5
            class="text-center text-dark fw-bolder bg-secondary p-1 rounded-1 mb-2"
          >
            Ascolto attivo ed empatia
          </h5>
          <p class="text-center">
            Mi impegno a comprendere a fondo ogni paziente, senza giudizio,
            cercando di offrire un ambiente sicuro ed empatico che favorisca
            l’esplorazione di sé, la crescita e il cambiamento.
          </p>
        </div>
      </div>
      <div class="col col-12 col-lg-4">
        <div class="card h-100 default-bg rounded-1 border-0">
          <img
            src="images/knowledge.png"
            class="img-fluid w-fixed-50 mx-auto d-block mb-3"
            alt="knowledge"
          />
          <h5
            class="text-center text-dark fw-bolder bg-secondary p-1 rounded-1 mb-2"
          >
            Competenza
          </h5>
          <p class="text-center">
            Vivo la mia professione come una missione: per questo mi aggiorno
            costantemente, approfondendo metodi basati sull’evidenza per offrire
            ai miei pazienti strumenti efficaci nel loro percorso di crescita e
            benessere.
          </p>
        </div>
      </div>
      <div class="col col-12 col-lg-4">
        <div class="card h-100 default-bg rounded-1 border-0">
          <img
            src="images/support.png"
            class="img-fluid w-fixed-50 mx-auto d-block mb-3"
            alt="support"
          />
          <h5
            class="text-center text-dark fw-bolder bg-secondary p-1 rounded-1 mb-2"
          >
            Chiarezza e supporto
          </h5>
          <p class="text-center">
            Il mio obiettivo è aiutare ogni paziente a dare senso alle proprie
            esperienze, offrendo strumenti concreti per affrontare le difficoltà
            con maggiore consapevolezza e autonomia, favorendo un percorso di
            crescita e benessere duraturo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary-light mb-5">
  <div class="container">
    <div class="row py-5">
      <h5 class="mb-3 display-4 text-center">Servizi</h5>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        corporis consequatur qui amet porro numquam velit voluptas voluptatibus
        aperiam, quae modi possimus autem inventore reprehenderit perferendis
        ullam sequi nemo maxime.
      </p>
    </div>
    <div class="row pb-5">
      <div
        class="col col-12 col-lg-2 flex-grow-1 gy-3"
        *ngFor="let s of services"
      >
        <div class="card border-0 rounded-1 shadow-sm p-3 h-100">
          <h6 class="text-center fw-bolder bg-secondary p-1 rounded-1 mb-2">
            {{
              s.name === "Psicoterapia individuale" ? "Psicoterapia" : s.name
            }}
          </h6>
          <p class="text-center mb-2">{{ s.description | truncate : 40 }}</p>
          <app-btn-primary-filled [type]="'button'" class="mx-auto mt-auto"
            >Prenota</app-btn-primary-filled
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
        <h5 class="display-3 mb-3">Dove ricevo</h5>
        <p class="mb-0">
          Ricevo in lingua italiana e sono sempre disponibile a valutare insieme
          il percorso più adatto alle esigenze di ogni persona. Se senti il
          bisogno di un supporto o vuoi approfondire il mio approccio
          terapeutico, sarò lieta di accoglierti e accompagnarti in questo
          cammino.
        </p>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <app-doctor-address
          *ngIf="doctor"
          [addresses]="doctor.addresses"
        ></app-doctor-address>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-secondary-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <app-contact-form *ngIf="doctor" [doctor]="doctor"></app-contact-form>
      </div>
      <div class="col-12 col-lg-6">
        <h5 class="display-3 mb-2">Contatti</h5>
        <p class="mb-3 fs-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          corporis consequatur qui amet porro numquam velit voluptas.
        </p>

        <p class="fw-bold mb-3 d-flex gap-2 align-items-center">
          <ng-icon name="ionCallOutline"></ng-icon>
          {{ doctor.phoneNumber }}
        </p>
        <p class="fw-bold mb-0 d-flex gap-3 align-items-center">
          <ng-icon name="ionMailOutline"></ng-icon> {{ doctor.email }}
        </p>
      </div>
    </div>
  </div>
</section>
