<div
  class="onhover rounded-1 d-flex align-items-center gap-3 p-2"
  *ngIf="documentation.id"
>
  <a [href]="documentation.file" class="fs-1" role="button"
    ><ng-icon name="ionDownloadOutline"></ng-icon
  ></a>
  <div class="d-flex flex-column">
    <p class="mb-0 fw-bold">{{ documentation.description }}</p>
    <span>del giorno {{ documentation.date | date : "dd/MM/yyyy" }}</span>
  </div>
  <app-btn
    *ngIf="isDoctor || isPatient"
    class="ms-auto"
    [type]="'button'"
    [color]="'btn-primary'"
    (onClick)="delete(documentation.id)"
    [extraClass]="'position-relative btn-sm w-fixed-30 h-fixed-30'"
  >
    <ng-icon
      class="position-absolute top-50 start-50 translate-middle"
      name="ionTrashBinOutline"
    ></ng-icon>
  </app-btn>
</div>
