<div
  class="p-3 bg-secondary-light rounded-2 d-flex"
  [ngClass]="{ 'justify-content-between': !isPassed }"
  *ngIf="appointment"
>
  <div
    class="d-flex flex-grow-1"
    [ngClass]="{
      'max-width-300 flex-column': !isPassed,
      'justify-content-between': isPassed
    }"
  >
    <div>
      <p class="fs-xs fw-medium mb-2">
        {{ appointment.startDate | date : "EEEE dd/MM/yyyy HH:mm" | titlecase }}
      </p>
      <span class="fs-xs fw-medium">Paziente:</span>
      <h6 class="fs-5" [ngClass]="{ 'mb-0': isPassed }">
        {{ patient.name }} {{ patient.surname }}
      </h6>
    </div>
    <div [ngClass]="{ 'align-self-center': isPassed }">
      <span class="fs-xs fw-medium">Prestazione:</span>
      <p
        class="fs-6 text-decoration-underline"
        [ngClass]="{ 'mb-2': !isPassed, 'mb-0': isPassed }"
      >
        {{ appointment.service.name }}
      </p>
    </div>

    <p
      class="mb-1 d-inline-block"
      [ngClass]="{ 'align-self-center mb-0': isPassed, 'mb-3': !isPassed }"
    >
      <span class="fs-xs fw-medium me-2">Modalità:</span>
      <span class="bg-secondary rounded-2 text-dark fs-sm px-2">{{
        appointment.online ? "Online" : "In presenza"
      }}</span>
    </p>

    <p *ngIf="!appointment.online && appointment.doctorAddress" class="mb-3">
      <span class="fs-xs fw-medium me-2">
        <ng-icon name="ionLocationOutline"></ng-icon>
        {{ appointment.doctorAddress.street }},
        {{ appointment.doctorAddress.streetNumber }}
        {{ appointment.doctorAddress.city }}
        {{ appointment.doctorAddress.provinceAcronym }}
        {{ appointment.doctorAddress.postalCode }}</span
      >
    </p>
    <span
      class="fs-xs text-dark fw-medium py-1 px-2 rounded-2 align-self-start"
      [ngClass]="{
        'bg-primary': setStatus(appointment) == 'Confermato',
        'bg-warning': setStatus(appointment) == 'In attesa',
        'align-self-center': isPassed
      }"
      >{{ setStatus(appointment) }}</span
    >
    <div class="mt-auto">
      <app-btn-danger-filled
        *ngIf="
          (appointment.status === 'PENDING' ||
            appointment.status === 'CONFIRMED') &&
          !isPassed
        "
        [type]="'button'"
        (onClick)="cancel()"
        >Annulla appuntamento</app-btn-danger-filled
      >
      <app-btn-primary-filled
        *ngIf="appointment.status === 'PENDING' && isPassed"
        [type]="'button'"
        (onClick)="confirm()"
        >Conferma appuntamento</app-btn-primary-filled
      >
    </div>
  </div>
  <div class="flex-grow-1 px-3" *ngIf="!isPassed">
    <app-calendar
      *ngIf="calendar"
      [calendar]="calendar"
      [slotMaxTime]="calendar.slotMaxTime"
      [slotMinTime]="calendar.slotMinTime"
      [height]="300"
      (onTimeSelect)="setTime($event)"
    ></app-calendar>
  </div>
  <form
    *ngIf="!isPassed"
    #form="ngForm"
    class="d-flex flex-column justify-content-between flex-grow-1 max-width-200"
    (submit)="submit()"
  >
    <label for="data" class="form-label fs-sm mb-1">Nuova data</label>
    <input
      #dateInput="ngModel"
      class="form-control form-control-sm border-secondary shadow-sm mb-3 w-auto"
      type="date"
      [min]="today"
      name="date"
      [(ngModel)]="date"
      required
    />
    <select
      *ngIf="date"
      class="form-select form-select-sm border-secondary shadow-sm mb-3 w-auto"
      name="time"
      id="time"
      [(ngModel)]="time"
      (change)="setTime({ startDate: date + 'T' + time + ':00', endDate: '' })"
      #timeInput="ngModel"
      required
    >
      <option *ngFor="let time of generateTimeSlots(date)" [value]="time">
        {{ time }}
      </option>
    </select>

    <div class="d-flex gap-2 mb-3">
      <input
        (change)="handleAddress()"
        class="form-check-input"
        type="checkbox"
        name="online"
        id="online"
        [(ngModel)]="appointment.online"
      />
      <label for="online">{{
        appointment.online ? "Online" : "In presenza"
      }}</label>
    </div>
    <select
      #address="ngModel"
      *ngIf="doctor && addAddress"
      name="address"
      id="address"
      class="form-select form-select-sm border-secondary shadow-sm w-auto"
      [(ngModel)]="appointment.doctorAddress"
      [required]="!appointment.online && addAddress"
      [ngClass]="{ 'border-danger': address.invalid }"
    >
      <option [ngValue]="null">-- seleziona lo studio --</option>
      <option [ngValue]="a.doctorAddress" *ngFor="let a of doctor.addresses">
        {{ a.doctorAddress.street }}, {{ a.doctorAddress.streetNumber }}
        {{ a.doctorAddress.city }} {{ a.doctorAddress.provinceAcronym }}
        {{ a.doctorAddress.postalCode }}
      </option>
    </select>

    <app-btn-dark-filled
      class="mt-auto"
      [type]="'submit'"
      [disabled]="form.invalid!"
      >Conferma modifica</app-btn-dark-filled
    >
  </form>
</div>
