.max-width-300 {
  max-width: 300px;
}

.max-width-200 {
  max-width: 200px;
}

@media screen and (max-width:99px) {
  .p-3.bg-secondary-light.rounded-2.d-flex flex-column flex-lg-row overflow-y-scroll overflow-y-auto position-relative
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .max-width-300 {
    max-width: initial !important;
  }
}
