.max-width-300 {
  max-width: 300px;
}

.max-width-200 {
  max-width: 200px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .max-width-300 {
    max-width: initial !important;
  }
}
