<ul class="nav flex-column mb-auto">
  <li class="nav-item mb-3" *ngIf="isAdmin">
    <app-btn-link
      [url]="'/admin/panel'"
      [title]="'Pannello amministratore'"
      [color]="'text-primary'"
      [active]="'btn-secondary btn-sm'"
    >
      <ng-icon class="fs-3" name="ionConstructOutline"></ng-icon>
    </app-btn-link>
  </li>
  <ng-container *ngIf="isConfigured">
    <li class="nav-item mb-3">
      <app-btn-link
        [url]="'/dashboard'"
        [title]="'Calendario'"
        [color]="'text-primary'"
        [active]="'btn-secondary btn-sm'"
      >
        <ng-icon class="fs-3" name="ionCalendarOutline"></ng-icon>
      </app-btn-link>
    </li>
    <li class="nav-item mb-3" *ngIf="!isAdmin">
      <app-btn-link
        [url]="'/dashboard/pazienti'"
        [title]="'Pazienti'"
        [color]="'text-primary'"
        [active]="'btn-secondary btn-sm'"
      >
        <ng-icon class="fs-3" name="ionPeopleCircleOutline"></ng-icon>
      </app-btn-link>
    </li>
    <li class="nav-item mb-3" *ngIf="!isAdmin">
      <app-btn-link
        [url]="'/dashboard/appuntamenti'"
        [title]="'Lista appuntamenti'"
        [color]="'text-primary'"
        [active]="'btn-secondary btn-sm'"
      >
        <ng-icon class="fs-3" name="ionListOutline"></ng-icon>
      </app-btn-link>
    </li>
    <li class="nav-item mb-3">
      <app-btn-link
        [url]="'/dashboard/impostazioni'"
        [title]="'Impostazioni'"
        [color]="'text-primary'"
        [active]="'btn-secondary btn-sm'"
        [exact]="false"
      >
        <ng-icon class="fs-3" name="ionSettingsOutline"></ng-icon
      ></app-btn-link>
    </li>
  </ng-container>
</ul>
