<div class="row">
  <h3 class="mb-3 display-4">Impostazioni prestazioni</h3>
  <div class="col-12 col-lg-6 mb-3 mb-lg-0">
    <div class="card p-2 rounded-1 shadow-sm default-bg border-0">
      <h5 class="mb-3 fw-bolder">Prestazioni attive</h5>
      <ng-container *ngIf="!services || services.length < 1">
        <p class="">Nessuna prestazione disponibile</p>
      </ng-container>
      <ng-container *ngIf="services">
        <div
          *ngFor="let s of services"
          class="onhover d-flex align-items-center gap-3 mb-3 p-2 rounded-1 text-decoration-none position-relative"
        >
          <div
            class="d-flex align-items-center justify-content-between w-100 gap-2"
          >
            <div class="d-flex align-items-center flex-grow-1">
              <div class="form-check form-switch mb-0">
                <input
                  class="form-check-input mb-0"
                  type="checkbox"
                  role="switch"
                  name="{{ s.name }}"
                  [(ngModel)]="s.isActive"
                  [value]="s.isActive"
                  id="{{ s.name }}"
                  (click)="toggleServiceActivation(s.id)"
                />
              </div>
              <div [ngClass]="{ 'opacity-75': !s.isActive }">
                <div class="d-flex align-items-center gap-2">
                  <h6 class="mb-0 fw-bold text-dark">{{ s.name }}</h6>
                  <app-btn
                    [type]="'button'"
                    (onClick)="toggleServiceAvailability(s.id)"
                    [extraClass]="''"
                    [color]="
                      s.online
                        ? 'badge text-primary text-bg-secondary'
                        : 'badge text-primary'
                    "
                    >{{
                      s.online ? "Disponibile anche online" : "Solo in presenza"
                    }}</app-btn
                  >
                </div>
                <span *ngIf="s.description" class="text-dark">{{
                  s.description
                }}</span>
              </div>

              <p class="mb-0 fw-medium fs-3 text-end flex-grow-1">
                {{ s.price }},00€
              </p>
            </div>

            <app-btn
              class="ms-3 service-btn"
              [type]="'button'"
              [color]="'btn-primary'"
              [extraClass]="'btn-sm position-relative w-fixed-30 h-fixed-30'"
              [title]="'Elimina prestazione'"
              (onClick)="deleteService(s.id)"
              ><ng-icon
                class="fs-6 position-absolute start-50 top-50 translate-middle"
                name="ionTrashBinOutline"
              ></ng-icon
            ></app-btn>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3 mb-lg-0">
    <app-add-service
      [doctor]="doctor"
      (updatedDoctor)="updateService($event)"
    ></app-add-service>
  </div>
</div>
