<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top border-1 mt-5"
>
  <p class="mb-0 text-body-secondary d-flex align-items-center gap-2">
    <a routerLink="/">
      <img
        src="logo-texted.png"
        alt="logo"
        class="w-fixed-50 object-fit-contain"
      />
    </a>
    <span class="fs-sm text-dark">© 2025 Health Desk</span>
    <span class="fs-sm text-dark"
      >- Maria Valentina Barone - Psichiatra e psicoterapeuta</span
    >
  </p>

  <ul class="nav align-items-center justify-content-end">
    <li class="nav-item text-dark fs-sm">
      <a
        routerLink="/"
        routerLinkActive="fw-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link px-2 text-dark fs-sm"
        title="Home page"
        >Home</a
      >
    </li>
    <li class="nav-item fs-sm">
      <a
        routerLink="/chi-sono"
        class="nav-link px-2 text-dark"
        routerLinkActive="fw-bold"
        title="Chi sono"
        >Chi sono</a
      >
    </li>
    <li class="nav-item fs-sm">
      <a
        routerLink="/cookie-policy"
        class="nav-link px-2 text-dark"
        routerLinkActive="fw-bold"
        title="Cookie policy"
        >Cookie policy</a
      >
    </li>
    <li class="nav-item fs-sm fw-bold" *ngIf="isPatient">
      <a
        routerLink="/prenota"
        class="nav-link px-2 text-primary"
        title="Prenota visita"
        >Prenota</a
      >
    </li>
  </ul>
</footer>
