<div class="py-3 bg-secondary">
  <ul class="nav justify-content-center pb-3 mb-3">
    <li class="nav-item">
      <a
        routerLink="/"
        class="fs-sm px-3 text-decoration-none text-body-secondary"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/chi-sono"
        class="fs-sm px-3 text-decoration-none text-body-secondary"
        >Chi sono</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/contatti"
        class="fs-sm px-3 text-decoration-none p-0 text-body-secondary"
        >Contatti</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/prenota"
        class="fs-sm px-3 text-decoration-none p-0 text-primary fw-bolder"
        >Prenota appuntamento</a
      >
    </li>
  </ul>
  <p class="text-center text-body-secondary mb-0 fs-xs">
    © 2025 Health Desk - Powered by
    <a
      href="https://www.linkedin.com/in/adriana-gaglio/"
      class="text-decoration-none"
      >Adriana Gaglio</a
    >
  </p>
</div>
