<div class="container">
  <div class="row py-5">
    <div class="col col-12 col-lg-7 col-xl-6 px-3">
      <div class="mb-1">
        <app-doctor-info *ngIf="doctor" [doctor]="doctor"></app-doctor-info>
      </div>

      <app-btn-primary-filled
        [type]="'button'"
        [class]="'mb-5 w-100'"
        class="w-100"
        [title]="'Prenota appuntamento'"
        (click)="highlight()"
        >Prenota un appuntamento</app-btn-primary-filled
      >

      <app-doctor-address *ngIf="doctor" [addresses]="doctor.addresses">
        <h6
          class="fs-6 text-dark fw-medium border-bottom border-secondary pb-2 mb-2"
        >
          {{ doctor.addresses.length > 1 ? "Indirizzi" : "Indirizzo" }}
          di ricevimento:
        </h6>
      </app-doctor-address>
    </div>
    <div class="col col-12 col-lg-5 col-xl-6 px-3 px-lg-1 px-xl-5" #addBooking>
      <app-add-booking></app-add-booking>
    </div>
  </div>
</div>
