<div
  class="onhover card default-bg border-0 p-1 mb-3 flex-row align-items-center justify-content-between"
>
  <div class="w-30">
    <p class="mb-1 fs-sm fw-bold">
      {{ appointment.startDate | date : "dd/MM/yyyy HH:mm" }}
    </p>
    <h6
      *ngIf="!isAdmin"
      class="mb-1 fw-bolder fs-6"
      role="button"
      (click)="openPatientFolder(appointment.patient.id, true)"
    >
      {{ appointment.patient.name }} {{ appointment.patient.surname }}
    </h6>
    <h6 *ngIf="isAdmin" class="mb-1 fw-bolder fs-6">
      {{ appointment.patient.name }} {{ appointment.patient.surname }}
    </h6>
    <p class="mb-0 fs-sm">{{ appointment.service.name }}</p>
  </div>
  <span
    class="text-center d-block rounded-1 px-1 fs-sm fw-bold"
    [ngClass]="{
      pending: appointment.status === 'PENDING',
      confirmed: appointment.status === 'CONFIRMED',
      cancelled: appointment.status === 'CANCELLED'
    }"
    >{{ setStatus(appointment) }}</span
  >
  <app-btn
    *ngIf="!isAdmin"
    class="w-30 text-end"
    [type]="'button'"
    [color]="'text-primary'"
    [extraClass]="'btn-sm fw-bolder fs-6'"
    (onClick)="manageAppointment(appointment)"
    >Gestisci</app-btn
  >
</div>
