<aside class="h-100 position-relative">
  <div
    *ngIf="isMobile"
    id="toggle"
    appToggleSidenav
    (click)="show = !show"
    class="rounded-pill px-3 py-2 d-flex fs-sm position-absolute bg-secondary end-0 top-0 shadow-sm"
  >
    <ng-icon
      [name]="show ? 'ionChevronBackOutline' : 'ionChevronForwardOutline'"
      class="position-absolute top-50 start-50 translate-middle"
    ></ng-icon>
  </div>
  <div class="d-flex flex-column flex-shrink-0 p-3 h-100">
    <app-doctor-nav *ngIf="isDoctor"></app-doctor-nav>
    <app-patient-nav *ngIf="!isDoctor"></app-patient-nav>
    <div class="d-flex gap-1 mt-3 justify-content-center">
      <div ngbDropdown class="position-relative">
        <img
          role="button"
          class="rounded-circle w-fixed-50 h-fixed-50 object-fit-cover object-position-center shadow-sm"
          *ngIf="user && !isAdmin"
          [src]="
            user.avatar
              ? user.avatar
              : 'https://ui-avatars.com/api/?name=' +
                user.name +
                '+' +
                user.surname
          "
          alt="profile image"
          id="dropdownConfig"
          ngbDropdownToggle
        />
        <img
          role="button"
          class="rounded-circle w-fixed-50 h-fixed-50 object-fit-cover object-position-center shadow-sm"
          *ngIf="isAdmin"
          src="
        https://ui-avatars.com/api/?name=A
        "
          alt="profile image"
          id="dropdownConfig"
          ngbDropdownToggle
        />
        <div
          *ngIf="isLoggedIn"
          ngbDropdownMenu
          class="position-absolute start-50 border-0 bg-secondary"
          aria-labelledby="dropdownBasic1"
        >
          <div class="d-flex flex-column px-2">
            <ul class="navbar-nav d-flex flex-column">
              <li class="nav-item">
                <button
                  ngbDropdownItem
                  title="Esci"
                  (click)="logout()"
                  class="btn-link nav-link text-dark"
                >
                  Esci
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <app-btn-link
        *ngIf="!isLoggedIn"
        [color]="'btn-secondary'"
        [url]="'/auth'"
        [title]="'Accedi'"
        >Accedi</app-btn-link
      >
    </div>
  </div>
</aside>
