<aside class="position-absolute top-0 bottom-0 start-0">
  <div
    id="sidenav"
    class="position-absolute top-0 bottom-0 flex-column flex-shrink-0 shadow-sm"
  >
    <div
      id="sidenavToggle"
      appToggleSidenav
      (click)="show = !show"
      class="rounded-pill px-3 py-2 d-flex fs-sm position-absolute bg-secondary end-0 top-0 shadow-sm"
    >
      <ng-icon
        [name]="show ? 'ionChevronBackOutline' : 'ionChevronForwardOutline'"
        class="position-absolute top-50 start-50 translate-middle"
      ></ng-icon>
    </div>
    <app-doctor-sidenav *ngIf="isDoctor"></app-doctor-sidenav>
    <app-patient-sidenav *ngIf="!isDoctor"></app-patient-sidenav>
  </div>
</aside>
